*{
    margin: 0;
    padding: 0;
}
.flex-container{
    width: 50rem;
    height: 35rem;
    background: darkgray;
    margin: 0 auto;
    display: flex;
    flex-direction:row ;
    /* flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; */
}
.flex-item{
    width: 7rem;
    height: 7rem;
    background: hotpink;
    border: 1px solid black;
    text-align: center;
    line-height: 6rem;
    flex-shrink: 0;
}
.item1{
    flex-shrink: 2;
}